PORT=3000
LASTFM_API_KEY=
LASTFM_USERNAME=
API_AUTH_TOKEN=your-token-here
ALLOWED_CORS_ORIGINS=http://localhost:5173,http://localhost:3000
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback
